<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/favicon.ico}"/>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">

    <title>CervAPI</title>
</head>
<body class="bg-dark text-center text-light">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main class="inner cover" role="main">
        <h1 class="cover-heading">CervAPI</h1>
        <p class="lead">
            Existem
            <b>
                <th:block th:text="${cerveja_count}"/>
            </b>
            cervejas cadastradas no momento.
        </p>
    </main>

    <footer class="modal-footer">
        <div class="container-fluid">
            <p>Tempo atual:
                <th:block th:utext="${formatter.format(#dates.createNow())}"/>
            </p>
            <p>Última build em:
                <th:block th:utext="${build_time}"/>
            </p>
        </div>
    </footer>
</div>

<script crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
